<div class="container-content">
  <ul
    cdkListbox
    cdkListboxOrientation="horizontal"
    class="tabbar"
    [cdkListboxValue]="currentTab"
    [cdkListboxCompareWith]="compareTab"
    (cdkListboxValueChange)="selectTab($event.value[0])"
  >
    @for (tab of tabs; track $index) {
    <li
      cdkOptionTypeaheadLabel="test"
      [cdkOption]="tab"
      [cdkOptionDisabled]="tab.disabled"
      class="tab"
      [ngClass]="style"
    >
      @if (tab.leftItem) { @if(!tab.leftItem.hidden){
      <div class="tab-left">{{ tab.leftItem.content }}</div>
      } }
      <div class="tab-name">{{ tab.display }}</div>
      @if(tab.rightItem){ @if (!tab.rightItem.hidden) {
      <div class="tab-right">{{ tab.rightItem.content }}</div>
      } }
    </li>
    }
  </ul>
</div>
