.tab-content {
  // display: flex;
  // flex-grow: 1;
  padding: 10px;
  flex-grow: 1;
}

.container-tabbar {
  display: flex;
  flex-grow: 1;
}

.style1 {
  border-bottom: 1px solid var(--color-grey-10);
}

.style2 {
  border-bottom: 1px solid #dfe5eb;
}
